<!DOCTYPE html>
<html>
  <head>
    <title>Mymenu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='http://s3-eu-west-1.amazonaws.com/konimboassets/layout3/base/fonts/open_sans_hebrew/stylesheet.css' type='text/css'>
  </head>

  <body>
    <%= render 'layouts/user_interface_messages' %>
    <div class="login">
      <div class="heading">
      <%= yield %>
      <%= render "devise/shared/links" %>
    	</div>
    </div>
  </body>
</html>
